body {
    background-color: lightgreen;
    font-family:'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Kanit', sans-serif;
}
.konteiner {
    width: 80%;
    max-width: 1000px;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 30px;
}

