html {
    font-size: 16px;
}

div {
    box-sizing: border-box;
}

body {
    background-color: lightgreen;
    font-family:'Roboto', sans-serif;
    background-image: url('bridge-1920x1080.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
}

h1, h2 {
    font-family: 'Kanit', sans-serif;
}
.konteiner {
    width: 80%;
    max-width: 1000px;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 30px;
}

.uudis-autor, .uudis-kuupäev {
    font-size: 0.8rem;
    color:darkgreen;
    font-weight: bold;
    display: inline-block;
    width: 49%;
}

.uudis-kuupäev {
    font-style: italic;
    text-align: right;   
}

.uudis-sisu {
    font-size: 1.2rem;
}

