h1 {
    color: green;
}

li {
    font-family: 'Arital';
    font-size: 30px
}

.mulle-maitsevad {
    color: aqua;
    font-size: 20px;
}

.s6in-noorena {
    background-color: brown;
}
#conteiner {
    background-color: crimson;
}