body {
    background-color: lightcyan;
}

header img {
    width: 250px;
}

header h1 {
    margin-left: 50px;
font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightskyblue;
    min-width: 1000px;

}

nav {
    display:flex ;
    align-items:center ;
    justify-content: center;
    background-color: lightblue;
}

nav a {
    padding-right: 15px;
    color: black;
}

main {
    display: flex;
    height: 1000px;
}

.mainikasblokk {
    display: flex;
    align-items: center;
}

.mainikasblokk2 {
    display: flex;
    flex-direction: column;
}

.mainikasblokk2 > img {
    max-width: 300px;
}

main section {
    width: 70%;
}

.mainikastekst {
min-width: 600px;
max-width: 400px;
margin-left: 15px;

}

.mainikaspilt {
    margin-top: 10px;
    min-width: 400px;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

main section img {
    max-width: 100%;
    border: 2px solid black;
}

main aside {
    display: flex;
    width: 30%;
    height: 700px;
    flex-direction: column;
    margin-top: 15px;
}

.rekklaam {
    width: 100%;
}

main aside a {
margin-left: auto;
margin-right: auto;
max-width: 500px;
}

footer {
    display:flex ;
    justify-content: center; 
    border-bottom: 3px solid black;

}

footer > ul > li 
{
   list-style-type: none;
   padding-right: 200px;
  
}


footer > ul {
    display: flex; 
    justify-content: center;
}
