body {
    background-color: aquamarine;
}

h1 {
    color: blue;
}

.arvuti {
    display: none;
}

.tahvelarvuti {
    display: none;
}
@media screen and (min-width: 600px) {
    body {
        background-color: red;
    }

    .tahvelarvuti {
        display: block;
    }

    .mobla {
        display: none;
    }
    
}

@media screen and (min-width: 1000px) {
    body {
        background-color: blueviolet;
    }

    .arvuti {
        display: block;
    }

    .tahvelarvuti {
        display: none;
    }
}